<launch>
  <node name="server" pkg="grace_ros" type="server.py" respawn="false" output="screen" />
  <node name="client" pkg="grace_ros" type="client-hri.py" respawn="false" output="screen"/>

  <node pkg="rosbag" type="play" name="player" output="log" args="--clock $(find grace_ros)/bags/tfs.bag"/>
</launch>